<%- include('partials/header.ejs'); -%>

	<header>
		<p>Hello World, I'm Taniya</p>
		<h1>Hello</h1>
	</header>
	
	<!-- Let the world know about you -->
	<div class="about">
		<p>An introductory paragraph about who you are and what you do.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non quaerat voluptatem.</p>
	</div>


<%- include('partials/footer.ejs'); -%>